.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(250px, 300px) 1fr;
  gap: 20px;
}

.about .wp-block-image {
  height: 300px;
  margin: 0;
  order: 0;
}

.about .wp-block-image img {
  object-position: center 20%;
}

.about p {
  margin: 0;
  order: 1;
}