h2 span {
  display: block;
  font-size: larger;
}

.posts .container {
  display: grid;
  justify-content: center;
}

.posts-container {
  margin: auto;
}

.post {
  border-bottom: 2px solid var(--dark-blue-color);
}

.post p {
  margin: 10px 5px;
}

.posts-container .post {
  margin-bottom: 70px;
}

.wp-block-gallery {
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr;
}

.wp-block-image {
  height: 200px;
}