.slider-wrapper {
  /* background-color: var(--light-blue-color); */
  /* padding: 50px 10px; */
  border-radius: var(--small-radius);
  display: grid;
  position: relative;
  margin: auto;
  overflow-x: hidden;
  justify-content: center;
}

.slide-post-details {
  padding: 15px 10px;
  background-color: var(--light-blue-color);
  /* box-shadow: var(--box-shadow); */
  margin: auto;
  border-radius: var(--small-radius);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(110px, auto) auto minmax(120px, 130px) auto;
  border: 1px solid var(--yellow-color);
}

.slide-wrapper--img {
  height: 250px;
}

#previous-arrow,
#next-arrow {
  color: black;
  background-color: rgba(255, 255, 255, .5);
  font-size: calc(var(--normal-font-size) + 2vw);
  padding: 10px;
  border-radius: var(--circle-radius);
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#previous-arrow {
  left: 25px;
  display: none;
}

#next-arrow {
  right: 25px;
}

.slide-post {
  display: grid;
  grid-template-columns: minmax(auto, 400px);
  grid-template-rows: 1fr;
}

.slide-post-details p {
  color: var(--white-color);
  font-size: calc(var(--normal-font-size) + .3vw);
  font-weight: 300;
  word-wrap: break-word;
  overflow-y: hidden;
}

.btn-post-slide {
  font-size: calc(var(--normal-font-size) + 1vw);
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
}

.h3_post-title--heading {
  color: var(--white-second-color);
  text-transform: uppercase;
  font-size: calc(var(--normal-font-size) + 0.3vw);
  align-self: baseline;
  word-break: break-word;
}

/* animation */
@keyframes slide-entrance-to-right {
  from {
    opacity: .5;
    transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
    -moz-transform: translateX(-100vw);
  }

  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
  }
}

@keyframes slide-entrance-to-left {
  from {
    opacity: .5;
    transform: translateX(100vw);
    -webkit-transform: translateX(100vw);
    -moz-transform: translateX(100vw);
  }

  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
  }
}

.animate-to-right {
  animation-name: slide-entrance-to-right;
  animation-duration: .5s;
}

.animate-to-left {
  animation-name: slide-entrance-to-left;
  animation-duration: .5s;
}