/* .error {
  margin: 30px auto;
  color: red;
  background-color: rgba(255, 0, 0, .1);
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  text-align: center;
  font-weight: 600;
} */


/* contact */
.form-container {
  max-width: 600px;
}

form,
textarea {
  font-size: calc(var(--normal-font-size) + 0.5vw);
  font-family: 'Open Sans', sans-serif;
}

form {
  color: var(--white-second-color);
  background-color: var(--light-blue-color);
  border-radius: 5px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
}

label {
  width: 90%;
  display: flex;
  flex-direction: column;
}

textarea,
label,
input {
  padding: 10px;
}

textarea,
input {
  margin: 2px 0;
  border: 1px solid blue;
  border-radius: 5px;
  font-size: 18px;
}

textarea {
  min-height: 200px;
}

input:focus {
  background-color: lightblue;
}

select:focus {
  background-color: ivory;
}

.form-error {
  display: none;
  margin: 2px 0 20px;
  color: var(--orange-color);
  font-weight: 600;
}

.success {
  border: 2px solid green;
  border-radius: 5px;
  background-color: rgb(173, 255, 47);
  color: black;
  font-weight: 600;
  padding: 5px 10px;
  margin-bottom: 20px;
}