/* details */
.post-container img {
  cursor: pointer;
}

h1 span {
  display: block;
  font-size: larger;
}

.post-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 20px;
}

.wp-block-gallery {
  margin: 0;
  gap: 15px;
  display: grid;
}

.post-details .wp-block-image {
  margin: 0;
  height: 200px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: rgba(255, 255, 255, .5);
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none;
}

.modal img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 60%;
  border-radius: var(--middle-radius);
  animation-name: modal-img-entrance;
  animation-duration: .5s;
  box-shadow: var(--box-shadow);
}

.post-details button {
  color: var(--very-dark-blue-color);
  margin: 20px auto;
}

@keyframes modal-img-entrance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}