footer {
  background-color: var(--light-blue-color);
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}

.footer li a {
  color: var(--white-color);
}