:root {
  min-height: 100vh;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bcg-color);
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 10px 5px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  font-family: "Montserrat";
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  margin: 20px auto;
  color: var(--dark-blue-color);
}

h1 {
  font-size: calc(var(--big-font-size) - 10px);
}

h2 {
  font-size: calc(var(--medium-font-size) - 3px);
}

h3 {
  font-size: calc(var(--normal-font-size));
}


img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--small-radius);
  box-shadow: var(--box-shadow-light);
}

p {
  line-height: 1.5;
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: calc(var(--normal-font-size) + 2px);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.btn {
  display: block;
  margin: 0 auto;
  background-color: var(--yellow-color);
  padding: 10px 15px;
  border-radius: var(--small-radius);
  border: 1px solid var(--very-dark-blue-color);
  color: var(--very-dark-blue-color);
  text-transform: uppercase;
  font-weight: 700;
  max-width: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--normal-font-size);
  box-shadow: var(--box-shadow-light);
  -webkit-box-shadow: var(--box-shadow-light);
  -moz-box-shadow: var(--box-shadow-light);
  transition: .2s;
}

.btn:hover {
  box-shadow: none;
  border: 1px solid var(--very-dark-blue-color);
}

main {
  margin-bottom: 100px;
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
}

.loader {
  position: relative;
  margin: 30px auto;
  width: 160px;
  height: 160px;
  background: linear-gradient(217deg, rgb(255, 162, 16), rgb(51, 75, 132) 70.71%);
  transform: rotate(360deg);
  animation: rotate 1s linear infinite;
  border-radius: 50%;
}

.loader::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background: var(--white-second-color);
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.error-message {
  margin: 30px auto;
  color: red;
  background-color: rgba(255, 0, 0, .1);
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  grid-column: 1/3;
}