:root {
  min-height: 100vh;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bcg-color);
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 10px 5px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  font-family: "Montserrat";
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  margin: 20px auto;
  color: var(--dark-blue-color);
}

h1 {
  font-size: calc(var(--normal-font-size) + 2.1vw);
}

h2 {
  font-size: calc(var(--normal-font-size) + 1.2vw);
}

h3 {
  font-size: calc(var(--normal-font-size) + 1vw);
}


img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--small-radius);
  box-shadow: var(--box-shadow-light);
}

p {
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: calc(var(--normal-font-size) + .1vw);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.btn {
  display: block;
  margin: 0 auto;
  background-color: var(--yellow-color);
  padding: 10px 15px;
  border-radius: var(--small-radius);
  border: 1px solid var(--very-dark-blue-color);
  color: var(--very-dark-blue-color);
  text-transform: uppercase;
  font-weight: 700;
  max-width: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--normal-font-size);
  box-shadow: var(--box-shadow-light);
  -webkit-box-shadow: var(--box-shadow-light);
  -moz-box-shadow: var(--box-shadow-light);
  transition: .2s;
}

.btn:hover {
  box-shadow: none;
  border: 1px solid var(--very-dark-blue-color);
}

main {
  margin-bottom: 100px;
}