body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bcg-color);
  display: grid;
  height: 100vh;
  flex-direction: column;

}

* {
  box-sizing: border-box;
}

.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 10px 5px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  font-family: "Montserrat";
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  margin: 20px auto;
  color: var(--dark-blue-color);
}

h1 {
  font-size: calc(var(--normal-font-size) + 2.5vw);
}

h2 {
  font-size: calc(var(--normal-font-size) + 1.5vw);
}


img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--small-radius);
}

p {
  font-family: "Montserrat";
  font-weight: lighter;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.btn {
  display: block;
  margin: 0 auto;
  background-color: var(--yellow-color);
  padding: 10px 15px;
  border-radius: var(--small-radius);
  color: var(--very-dark-blue-color);
  text-transform: uppercase;
  font-weight: 700;
  max-width: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--normal-font-size);
}