/* header */
header {
  width: 100%;
  min-height: 100px;
  background-color: var(--very-dark-blue-color);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.logo {
  max-width: 200px;
}

.search-bar {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.h2_sub-heading {
  font-size: calc(var(--normal-font-size) + 2vw);
}

.main-img--description {
  font-size: calc(var(--normal-font-size) + 0.5vw);
}

.main-img--wrapper img {
  max-height: 400px;
  object-position: 70%;
  margin: auto;
}