/* home */
header {
  width: 100%;
  min-height: 100px;
  background-color: var(--light-blue-color);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.logo {
  max-width: 200px;
  box-shadow: none;
}

.search {
  display: flex;
  gap: 5px;
  padding: 5px;
  border-radius: var(--small-radius);
  position: relative;
}

.search-bar {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 0;
}

.search-button {
  background-color: var(--white-second-color);
  display: block;
  border-radius: var(--small-radius);
}

.search-button i {
  color: var(--very-dark-blue-color);
}

.search-result {
  display: none;
  position: absolute;
  width: 100%;
  min-height: 50vh;
  background-color: var(--white-color);
  top: 25px;
  left: 0;
  z-index: 2;
  margin: 20px 0;
  padding: 5px 10px;
  border-radius: var(--small-radius);
}

.search-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}

.home-page--wrapper {
  display: grid;
  gap: 20px;
}

.home-page--wrapper p {
  text-align: left;
  margin: 0;
}

.home-page--wrapper .wp-block-image {
  margin: 0;
}

.home-page--wrapper img {
  max-height: 400px;
  margin: auto;
}