/* header */
header {
  width: 100%;
  min-height: 100px;
  background-color: var(--light-blue-color);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.logo {
  max-width: 200px;
  box-shadow: none;
}

.search-bar {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.home-page--wrapper {
  display: grid;
  gap: 20px;
}

.home-page--wrapper p {
  text-align: left;
  margin: 0;
}

.home-page--wrapper .wp-block-image {
  margin: 0;
}

.home-page--wrapper img {
  max-height: 400px;
  margin: auto;
}