@media (min-width: 470px) {
  header .container {
    justify-content: space-around;
  }

  .search-bar {
    width: 200px;
  }

  .nav-main {
    background-color: var(--white-color);
    position: sticky;
    top: 0;
  }

  .nav-main .container {
    padding: 10px 15px;
  }

  #hamburger-menu {
    display: none;
  }

  .nav-main__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    list-style-type: none;
    position: static;
    background-color: var(--white-color);
  }

  .nav-main__list__item {
    font-size: calc(var(--normal-font-size) + 1vw);
  }

  .nav-main__list__item:hover {
    color: var(--orange-color);
    transition: .2s;
  }

  .wp-block-gallery {
    grid-template-columns: 1fr 1fr;
  }

  .modal img {
    height: 70%;
  }

  .about {
    display: flex;
    flex-direction: row;
  }

  .about .wp-block-image {
    width: 40%;
  }

  .about p {
    width: 60%;
  }

  .slide-post {
    grid-column: 2/3;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media(min-width: 600px) {

  .slider-wrapper,
  #previous-arrow,
  #next-arrow {
    /* position: static; */
    transform: none;
  }

  #previous-arrow,
  #next-arrow {
    height: 60px;
    width: 60px;
    justify-self: center;
  }


  .slider-wrapper {
    align-items: center;
  }

  .slide-post {
    grid-column: 2/3;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .slide-post-details {
    grid-template-rows: minmax(130px, auto) auto minmax(120px, 150px) auto;
  }

  .h3_post-title--heading {
    font-size: calc(var(--normal-font-size) + 0.1vw);
    align-self: baseline;
  }

  .slide-wrapper--img {
    height: 130px;
  }

  .btn-post-slide {
    font-size: var(--normal-font-size);
  }

  .wp-block-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .modal img {
    width: 70%;
    max-width: 500px;
    height: 70%;
  }
}