<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Trip blog about my trips to different places. || Welcome on page Contact! Send me a message. Croatia, Montenegro, Norway. Check places. Look at pictures. Read Blog.">
  <link rel="stylesheet" href="../css/style.css">
  <title>Trip Blog || Contact</title>
  <!-- Hotjar Tracking Code for Trip blog -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 3357909, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
</head>

<body>
  <header>
    <div class="container">
      <a href="../index.html"><img class="logo" src="../images/icons/logo.png" alt="logo"></a>
      <input class="search-bar" type="text" placeholder="Search..">
    </div>
  </header>

  <nav class="nav-main">
    <div class="container">
      <div id="hamburger-menu" class="hamburger-menu">
        <span id="bar-one" class="bars"></span>
        <span id="bar-two" class="bars"></span>
        <span id="bar-three" class="bars"></span>
      </div>
      <ul class="nav-main__list hide">
        <li><a class="nav-main__list__item" href="../index.html" title="Trip Blog || Home Page">Home</a></li>
        <li><a class="nav-main__list__item" href="../layout/about.html" title="Trip Blog || About">About</a></li>
        <li><a class="nav-main__list__item" href="../layout/all-posts.html" title="Trip Blog || All Posts">All
            Posts</a>
        </li>
        <li><a class="nav-main__list__item active" href="../layout/contact.html"
            title="Trip Blog || Contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <main>
    <div class="container">
      <h1 class="h1_main">Contact Us!</h1>
      <div id="message"></div>
      <form id="form">
        <label for="name">Name (minimum 6 characters):
          <input id="name" name="name">
          <p class="form-error" id="name-error">Field must have minimum 6 characters!</p>
        </label>

        <label for="subject">Subject (minimum 16 characters):
          <input id="subject" name="Subject">
          <p class="form-error" id="subject-error">Field must have minimum 16 characters!</p>
        </label>

        <label for="email">Email:
          <input id="email" name="email">
          <p class="form-error" id="email-error">Write correct e-mail address</p>
        </label>

        <label for="user-message">Message (minimum 26 characters):
          <textarea id="user-message" name="user-message"></textarea>
          <p class="form-error" id="user-message--error">Field must have minimum 26 characters!</p>
        </label>

        <button class="btn">Submit</button>
      </form>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <ul onclick="location.href='tel:+4793928270'">
        <li>&copy; 2023 Blog Trip</li>
        <li>Mariusz Rozycki</li>
        <li>+47 939 28 270</li>
      </ul>
    </div>
  </footer>

  <script src="../js/utilities/nav.js"></script>
  <script src="../js/contact.js"></script>
</body>

</html>